.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121212;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden; 
}
.appHeader {
  position: relative;
  background-color: #1f1f1f;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  color: #00e5ff;
}

.headerButtons {
    display: flex;
    gap: 12px;
    position: absolute; 
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    flex-wrap: nowrap; 
    
}

.headerButtons {
    background-color: #00e5ff;
    color: #000;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap; 
}

.headerButton:hover {
  border: 2px solid #00e5ff;
  color: #fff; 
  background: transparent;
}


.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  min-width: 200px;
  background-color: #1f1f1f;
  padding: 20px;
  overflow-x: hidden;
  border-right: 1px solid #333;
}


.content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
 
  overflow-x: hidden;
}


.welcomeMessage {
  text-align: center;
  padding: 80px 20px;
  margin: 160px auto;
  border-radius: 16px;
  max-width: 1000px;

}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
}

.highlight {
  color: #00e5ff;
  text-shadow: 0 0 10px #00e5ff;
}


.errorDisplay {
  text-align: center;
  margin-top: 80px;
  font-size: 1.6rem;
  color: #ff6b6b;
  padding: 40px;
  border-radius: 12px;
  margin: 160px auto;
}


.searchContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.searchInput {
  padding: 10px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid #00e5ff;
  background-color: #1f1f1f;
  color: #fff;
  outline: none;
  width: 250px;
  transition: border-color 0.3s;
}


.searchButton {
  background-color: #00e5ff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 229, 255, 0.4);
}

.searchButton:hover {
  background-color: white;
  transform: scale(1.05);
}
.searchButton:focus {
  outline: none;
}
.searchIcon {
  width: 50px;
  height: 40px;
  object-fit: contain;
}
/* add */ 
.toggleContainer {
  text-align: center;
  margin: 30px 0;
}

.toggleSwitchLabel {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
}

.toggleSwitch {
  position: relative;
  width: 60px;
  height: 32px;
  background-color: #555;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggleSwitch::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 3px;
  left: 3px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggleSwitch.on {
  background-color: #00e5ff;
}

.toggleSwitch.on::before {
  transform: translateX(28px);
}



.searchInput:focus {
  border-color: #66f2ff;
}

.searchInput::placeholder {
  color: #aaa;
}


@media (max-width: 379px) {
  .searchButton {
    display: none;
  }
}

.userList{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row on large screens */
  gap: 20px;
  padding: 20px;
  justify-items: center;
}
.photoGroup {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.photoItem {
  text-align: center;
}

.photoLabel {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
}


@media (max-width: 768px) {
  .userList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  .userList {
    grid-template-columns: 2fr;
  }
}


@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .content {
    padding: 16px;
  }

  .welcome-message h1 {
    font-size: 1rem;
  }

  .error-display {
    font-size: 1.2rem;
    padding: 20px;
  }
  h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
}
.errorDisplay{
   font-size: 2rem;
}

.highlight {
  color: #00e5ff;
  text-shadow: 0 0 10px #00e5ff;
}
.headerButtons {
        position: static; 
        transform: none; 
        width: 100%; 
        justify-content: center; 
        padding: 10px 0; 
        
        flex-wrap: wrap; 
    }

    
    .appHeader {
        padding: 20px; 
        padding-bottom: 70px; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }

    .appHeader span {
        margin-bottom: 10px; 
    }

}

@media (max-width: 390px) {
  .headerButton {
        padding: 6px 12px; 
        font-size: 0.9rem; 
    }
    .headerButtons {
        gap: 8px;
    }
   h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
}
.errorDisplay{
   font-size: 1.5rem;
}
}



.controlPanel {
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 229, 255, 0.1);
  color: #fff;
  max-width: 700px;
  margin: 0 auto;
}

.sectionToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #292929;
  padding: 14px 20px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #333;
  transition: background-color 0.3s ease;
}

.sectionToggle:hover {
  background-color: #333;
}

.sectionToggle span {
  font-size: 1.1rem;
  font-weight: 600;
  color: #00e5ff;
}
.sectionToggle .toggleSwitch {
  position: relative;
  width: 60px;
  height: 32px;
  background-color: #555;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sectionToggle .toggleSwitch::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: 3px;
  left: 3px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.sectionToggle .toggleSwitch.on {
  background-color: #00e5ff;
}

.sectionToggle .toggleSwitch.on::before {
  transform: translateX(28px);
}


.headerButtons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding: 1rem 2rem;
  background-color: #1e1e1e;
}

.headerButtons button {
  padding: 0.6rem 1.2rem;
  background-color: #333;
  color: #f1f1f1;
  border: 1px solid #444;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.headerButtons button:hover {
  background-color: #00e5ff; /* Green hover */
  transform: scale(1.05);
  color: black;
}

.headerButtons button:nth-child(2):hover {
  background-color:#00e5ff; /* Blue hover for Home */
}
