.resetContainer {
  max-width: 400px;
  margin: 80px auto;
  background-color: #1c1c1c;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(239, 9, 9, 0.866);
  font-family: 'Segoe UI', sans-serif;
}

.resetContainer h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.resetContainer form {
  display: flex;
  flex-direction: column;
}

.resetContainer input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.resetContainer button {
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.resetContainer button:hover {
  background-color: red;
}

.forgotLink {
  margin-top: 15px;
  text-align: center;
  color: red;
  cursor: pointer;
  text-decoration: underline;
}

.forgotLink:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.disabledLink {
  opacity: 0.6;
  pointer-events: none;
}
